*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.main-container{
    background-color: rgb(128, 212, 248);
    height: 100vh;
    overflow: auto;
}

.title{
    text-align: center;
    padding: 60px 0;
    font-size: 35px;
}


.instrument-container{
    width: 100%;
    margin: 40px 0;
    height: 50vh;
}

.instrument-subcontainer{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.instrument{
    border-radius: 50%;
    height: 130px;
    width: 130px;
    position: relative;
    margin: 20px;
    outline: 2px solid black;
    outline-offset: 2px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
    cursor:pointer;
    transition: transform 0.3s ease-in-out;
}

.instrument:hover{
    transform: scale(1.1);
}

.instrument-image{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.key-press{
    position: absolute;
    top: 0;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key{
    font-size: 40px;
    font-weight: bold;
    color: aliceblue;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.15);
}